BasedOnStyle: Google
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never
